* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*header styling*/
.header {
    width: 100%;
    background-image: url("../img/background.png");
    height: 300px;
    padding-top: 0;
    background-color: #D4D4D6;
    text-align: center;
}
body {
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, p {
    text-align: center;
    padding-top: 5%;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    padding-bottom: 7%;
}
h3 {
    font-size: 25px;
}

/*quiz styling*/ 
.quiz {
    background-color: #D4D4D6;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 100px;
    border-radius: 10px;
    padding: 30px ;
}
img#question {
    width: 70%;
    padding-bottom: 7%;
    padding-left: 15%;
    padding-top: 7%;
}

/*button styling*/
.btn {
    background-color: #fff;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#nextbtn {
    background-color: #fff;
    width: 150px;
    border: 1px solid #222;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
/*progress bar styling*/
#progress-container {
    margin: 20px auto;
    width: 50%; 
}

#progress-bar {
    width: 100%;
}

/* score area styling*/
.score-area {
    text-align: center;
    font-size: 1.2rem;
}
#score {
    color: green;
    font-weight: bold;
}
#incorrect {
    color: red;
    font-weight: bold;
}
.scores {
    display: inline-block;
    padding: 25px;
}

/*footer styling*/
footer {
    background-color:#D4D4D6;
  }
  
.socials {
    text-align: center;
  }

.socials li{
    display: inline;
  }
  
.socials i{
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #222;
  }

/*media queries*/
@media only screen and (max-width: 767px) {

    .header {
        height: 200px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
        padding-bottom: 5%;
    }

    p {
        font-size: 25px; 
        text-align: center;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .quiz {
        margin: 150px auto 100px;
        padding: 20px;
    }

    img#question {
        width: 80%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-top: 2%;
    }

    #nextbtn {
        width: 100%;
    }

    #progress-container {
        margin: 10px auto;
    }

    .score-area {
        font-size: 1rem;
    }

    .socials i {
        font-size: 200%;
        margin: 2%;
        padding: 2%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .header {
        height: 250px; 
    }

    h1 {
        font-size: 60px; 
    }

    h2 {
        font-size: 35px; 
        padding-bottom: 7%;
    }

    h3 {
        font-size: 30px; 
        margin-bottom: 20px; 
    }

    p {
        font-size: 150%;
    }

    .quiz {
        max-width: 800px; 
    }

    img#question {
        width: 80%; 
        padding-bottom: 5%;
        padding-left: 10%; 
        padding-top: 2%;
    }

    .btn {
        font-size: 18px; 
        padding: 12px; 
    }

    #nextbtn {
        width: 200px; 
        font-size: 18px; 
        margin: 20px auto 0;
    }

    .socials i {
        font-size: 180%; 
        margin: 3%;
        padding: 3%;
    }
}
